@model List<RoleViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<div class="detail-component">
    <div class="wrapper">
        <div class="header">
            <h1>USER PERMISSIONS</h1>
            <a type="button" class="btn green large" href="/admin/roles/create">CREATE</a>
        </div>
        <div class="selfs">
            @foreach (var role in Model) {
                <div class="detail-component">
                    <div class="wrapper">
                        <div class="header">
                            <a type="button" class="btn green" href="/admin/roles/@role.Id">Edit</a>
                        </div>
                        <div class="details">
                            <div class="detail">
                                <div class="label">Permission Set Name</div>
                                <div class="value">@role.FriendlyName</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

