<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/screen.css" />
    <link rel="stylesheet" href="~/roboto-fontface.css" />
    <link rel="stylesheet" href="~/font-awesome.css" />
</head>
<body>

    <div class="layout-inline-component">
        <div class="wrapper">
            <div class="nav-left-component">
                <div class="wrapper">
                    <a href="/admin" class="title">
                        <h1>PMO</h1>
                        <h4>Administration</h4>
                    </a>
                    <div class="navs">
                        <div class="nav">
                            <a asp-controller="VBPD" asp-action="Index" class="item-wrapper">
                                    <i class="icon fas fa-home"></i>
                                    <div class="descrip">Home</div>
                                
                            </a>
                        </div>
                        <div class="nav">
                            <a class="item-wrapper" href="/admin/users">
                                <i class="icon fas fa-user"></i>
                                <div class="descrip">Users</div>
                            </a>
                        </div>
                        <div class="nav">
                            <a class="item-wrapper" href="/admin/roles">
                                <i class="icon fas fa-address-book"></i>
                                <div class="descrip">Roles</div>
                            </a>
                        </div>
                        <div class="nav">
                            <a class="item-wrapper" href="/vbpd-admin/stage-config">
                                <i class="icon fas fa-tools"></i>
                                <div class="descrip">VBPD Configurations</div>
                            </a>
                        </div>
                        <div class="nav">
                            <a class="item-wrapper" href="/vbpd-admin/stage-files-config">
                                <i class="icon fas fa-tools"></i>
                                <div class="descrip">VBPD Required Files</div>
                            </a>
                        </div>
                        <div class="nav">
                            <a class="item-wrapper" href="/vbpd-admin/lite-stage-config">
                                <i class="icon fas fa-cog"></i>
                                <div class="descrip">VBPD Lite Configurations</div>
                            </a>
                        </div>
                        <div class="nav">
                            <a class="item-wrapper" href="/vbpd-admin/lite-stage-files-config">
                                <i class="icon fas fa-tools"></i>
                                <div class="descrip">VBPD Lite Required Files</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-section">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/bundle.js"></script>
</body>
</html>
