<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - pmo</title>
    <link rel="stylesheet" href="~/screen.css" />
</head>
<body>
    @RenderBody()
    <script src="~/bundle.js"></script>
</body>
</html>
