@model (int ActiveStageNumber, int ProjectId)

<div class="dropdown active">
    <div class="item-wrapper">
        <div class="descrip">Active Stage @Model.ActiveStageNumber</div>
    </div>
    <div class="dropdown-items">
        <div class="dropdown-item">
            <a class="item-wrapper" href="/vbpd-projects/@Model.ProjectId/stages/@Model.ActiveStageNumber/schedules/edit">
                <i class="icon"></i>
                <div class="descrip">Schedules</div>
            </a>
        </div>
        @*<div class="dropdown-item">
            <a class="item-wrapper" href="/vbpd-projects/@Model.ProjectId/stages/@Model.ActiveStageNumber/design-concepts/edit">
                <i class="icon"></i>
                <div class="descrip">Design Concepts</div>
            </a>
        </div>*@
        <div class="dropdown-item">
            <a class="item-wrapper" href="/vbpd-projects/@Model.ProjectId/stages/@Model.ActiveStageNumber/risk">
                <i class="icon"></i>
                <div class="descrip">Risks</div>
            </a>
        </div>

        <div class="dropdown-item">
            <a class="item-wrapper" href="/vbpd-projects/@Model.ProjectId/stages/@Model.ActiveStageNumber/project-justification/edit">
                <i class="icon"></i>
                <div class="descrip">Project Justification</div>
            </a>
        </div>
        <div class="dropdown-item">
            <a class="item-wrapper" href="/vbpd-projects/@Model.ProjectId/stages/@Model.ActiveStageNumber/business-case/edit">
                <i class="icon"></i>
                <div class="descrip">Business Case</div>
            </a>
        </div>
        <div class="dropdown-item">
            <a class="item-wrapper" href="/vbpd-projects/@Model.ProjectId/stages/@Model.ActiveStageNumber/product-infrigment-patentability/edit">
                <i class="icon"></i>
                <div class="descrip">Product Infrigment Patentability</div>
            </a>
        </div>
        <div class="dropdown-item">
            <a class="item-wrapper" href="/vbpd-projects/@Model.ProjectId/stages/@Model.ActiveStageNumber/key-characteristic/edit">
                <i class="icon"></i>
                <div class="descrip">Key Characteristic</div>
            </a>
        </div>
        <div class="dropdown-item">
            <a class="item-wrapper" href="/vbpd-projects/@Model.ProjectId/stages/@Model.ActiveStageNumber/customer-design-approval/edit">
                <i class="icon"></i>
                <div class="descrip">Customer Design Approval</div>
            </a>
        </div>
        <div class="dropdown-item">
            <a class="item-wrapper" href="/vbpd-projects/@Model.ProjectId/stages/@Model.ActiveStageNumber/investment-plan/edit">
                <i class="icon"></i>
                <div class="descrip">Investment Plan</div>
            </a>
        </div>
        <div class="dropdown-item">
            <a class="item-wrapper" href="/vbpd-projects/@Model.ProjectId/stages/@Model.ActiveStageNumber/product-intro-checklist/edit">
                <i class="icon"></i>
                <div class="descrip">Product Intro Checklist</div>
            </a>
        </div>
        <div class="dropdown-item">
            <a class="item-wrapper" href="/vbpd-projects/@Model.ProjectId/stages/@Model.ActiveStageNumber/ramp-resource-plan/edit">
                <i class="icon"></i>
                <div class="descrip">Ramp Resource Plan</div>
            </a>
        </div>
        <div class="dropdown-item">
            <a class="item-wrapper" href="/vbpd-projects/@Model.ProjectId/stages/@Model.ActiveStageNumber/qualification-testing/edit">
                <i class="icon"></i>
                <div class="descrip">Qualification Testing</div>
            </a>
        </div>
    </div>
</div>