<div class="message-component">
    <div class="wrapper">
        <div class="message">
            <div class="title">
                No data found
            </div>
            <div class="text">
                Please create a new record at your earliest convenience...
            </div>
            <i class="icon far fa-clock"></i>
        </div>
    </div>
</div>
