<div class="message-component">
    <div class="wrapper">
        <div class="message">
            <div class="title">
                No data found
            </div>
            <div class="text">
                Oops! We were unable to find any data.<br />
                The rabbits have been nibbling the cables again...
            </div>
            <i class="icon far fa-frown"></i>
        </div>
    </div>
</div>
