@{
    var vbpdActiveStages = (List<dbModels.Stage>)ViewBag.VbpdActiveStages;
    var vbpdLiteActiveStages = (List<dbModels.Stage>)ViewBag.LiteActiveStages;

    List<CanvasJSDataPoint> dataPointsVbpd = new List<CanvasJSDataPoint>();
    List<CanvasJSDataPoint> dataPointsLite = new List<CanvasJSDataPoint>();
    
    var vbpdGroupedByStageNumber = vbpdActiveStages.GroupBy(g => g.StageNumber).OrderBy(x => x.Key).ToList();
    var vbpdLiteGroupedByStageNumber = vbpdLiteActiveStages.GroupBy(g => g.StageNumber).OrderBy(x => x.Key).ToList();

    vbpdGroupedByStageNumber.ForEach(stageNumber =>
    {
        var currentStageNumber = stageNumber.Key;
        var numberOfProjects = stageNumber.Count();

        dataPointsVbpd.Add(new CanvasJSDataPoint("Stage " + currentStageNumber.ToString(), "", numberOfProjects, ""));
    });

    vbpdLiteGroupedByStageNumber.ForEach(stageNumber =>
    {
        var currentStageNumber = stageNumber.Key;
        var numberOfProjects = stageNumber.Count();

        dataPointsLite.Add(new CanvasJSDataPoint("Stage " + ((char)(currentStageNumber+64)).ToString(), "", numberOfProjects, ""));
    });

    <script>
        if (typeof whenDocReady === "function") {
            // already declared, do nothing
        } else {
            function whenDocReady(fn) {
                // see if DOM is already available
                if (document.readyState === "complete" || document.readyState === "interactive") {
                    // call on next available tick
                    setTimeout(fn, 1);
                } else {
                    document.addEventListener("DOMContentLoaded", fn);
                }
            }
        }

        whenDocReady(function () {
            var chartVbpd = new CanvasJS.Chart("chartVbpd", {
                animationEnabled: true,
                animationDuration: 2000,
                exportEnabled: true,
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                title: {
                    text: "VBPD",
                    dockInsidePlotArea: true,
                    fontFamily: "Roboto-Black",
                    fontSize: 36,
                    fontColor: "#7e7e7e",
                    padding: 16
                },
                axisY: {
                    title: "Number of Projects",
                    titleFontFamily: "Roboto-Light",
                    titleFontSize: 24,
                    titleFontColor: "#676767",
                    labelFontFamily: "Roboto-Light",
                    labelFontSize: 16,
                    labelFontColor: "#676767",
                    lineThickness: 1,
                    lineColor: "#676767",
                    tickColor: "#ffffff",
                    tickLength: 4,
                    margin: 20,
                    interval: 10,
                    gridColor: "#dedede"
                },
                axisX: {
                    labelFontFamily: "Roboto-Light",
                    labelFontSize: 24,
                    labelFontColor: "#676767",
                    lineThickness: 1,
                    lineColor: "#676767",
                    tickColor: "#ffffff",
                    tickLength: 8,
                    margin: 0
                },
                toolTip: {
                    enabled: true,
                    shared: true,
                    fontFamily: "Roboto-Light",
                    fontSize: 16,
                    fontColor: "#676767",
                    borderThickness: 2,
                    cornerRadius: 5,
                    contentFormatter: function (e) {
                        return "<div class='chartTooltip'>"
                            + "<div class='title'>Information</div>"
                            + "<div>Stage: <strong>" + e.entries[0].dataPoint.label + "</strong></div>"
                            + "<div>Projects: <strong>" + e.entries[0].dataPoint.y + "</strong></div>"
                            + "</div>"
                    }
                },
                data: [{
                    type: "column",
                    cursor: "pointer",
                    indexLabel: "{y}",
                    indexLabelFontFamily: "Roboto-Light",
                    indexLabelFontSize: 24,
                    indexLabelFontWeight: "bold",
                    indexLabelFontColor: "#dedede",
                    indexLabelPlacement: "outside",
                    dataPoints: @Html.Raw(JsonConvert.SerializeObject(dataPointsVbpd))
                }]
            });

            var chartLite = new CanvasJS.Chart("chartLite", {
                animationEnabled: true,
                animationDuration: 2000,
                exportEnabled: true,
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                title: {
                    text: "VBPD Lite",
                    dockInsidePlotArea: true,
                    fontFamily: "Roboto-Black",
                    fontSize: 36,
                    fontColor: "#b5b5b5",
                    padding: 16
                },
                axisY: {
                    title: "Number of Projects",
                    titleFontFamily: "Roboto-Light",
                    titleFontSize: 24,
                    titleFontColor: "#676767",
                    labelFontFamily: "Roboto-Light",
                    labelFontSize: 16,
                    labelFontColor: "#676767",
                    lineThickness: 1,
                    lineColor: "#676767",
                    tickColor: "#ffffff",
                    tickLength: 4,
                    margin: 20,
                    interval: 10,
                    gridColor: "#dedede"
                },
                axisX: {
                    labelFontFamily: "Roboto-Light",
                    labelFontSize: 24,
                    labelFontColor: "#676767",
                    lineThickness: 1,
                    lineColor: "#676767",
                    tickColor: "#ffffff",
                    tickLength: 8,
                    margin: 0
                },
                toolTip: {
                    enabled: true,
                    shared: true,
                    fontFamily: "Roboto-Light",
                    fontSize: 16,
                    fontColor: "#676767",
                    borderThickness: 2,
                    cornerRadius: 5,
                    contentFormatter: function (e) {
                        return "<div class='chartTooltip'>"
                            + "<div class='title'>Information</div>"
                            + "<div>Stage: <strong>" + e.entries[0].dataPoint.label + "</strong></div>"
                            + "<div>Projects: <strong>" + e.entries[0].dataPoint.y + "</strong></div>"
                            + "</div>"
                    }
                },
                data: [{
                    type: "column",
                    cursor: "pointer",
                    indexLabel: "{y}",
                    indexLabelFontFamily: "Roboto-Light",
                    indexLabelFontSize: 24,
                    indexLabelFontWeight: "bold",
                    indexLabelFontColor: "#dedede",
                    indexLabelPlacement: "outside",
                    dataPoints: @Html.Raw(JsonConvert.SerializeObject(dataPointsLite))
                }]
            });

            chartVbpd.render();
            chartLite.render();
        });
    </script>
    <style>
        .chartTooltip {
            padding: 4px 8px;
        }

            .chartTooltip .title {
                font-family: "Roboto-Black";
                font-weight: 900;
                padding-bottom: 4px;
                margin-bottom: 8px;
                border-bottom: 1px solid #677078;
            }

                .chartTooltip .title:before {
                    font-family: 'Font Awesome 5 Free';
                    content: '\f05a';
                    margin-right: 8px;
                    background: #7e7e7e;
                }
    </style>
    <div style="display: flex;">
        <div id="chartVbpd" style="height: 400px; width:50%; margin-top: 48px;"></div>
        <div id="chartLite" style="height: 400px; width:50%; margin-top: 48px;"></div>
    </div>
}
