@model List<dbModels.Risk>

@{
    List<CanvasJSDataPoint> dataPointsProbability = new List<CanvasJSDataPoint>();
    List<CanvasJSDataPoint> dataPointsImpact = new List<CanvasJSDataPoint>();

    Model.ForEach(f => {
        var impactColor = "#77212E";
        var color = (f.RiskPropability, f.RiskPropability) switch
        {
            var (x, y) when x >= 0 && y <= 25 => "#88B04B",
            var (x, y) when x >= 26 && y <= 50 => "#FFD662",
            var (x, y) when x >= 51 && y <= 75 => "#E08119",
            _ => "#BC243C",
        };

        dataPointsProbability.Add(new CanvasJSDataPoint(f.Name, f.RiskType.Name, f.RiskPropability, color));
        dataPointsImpact.Add(new CanvasJSDataPoint(f.Name, f.RiskType.Name, Convert.ToDecimal(f.RiskImpact.Name), impactColor));
    });


    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                animationDuration: 2000,
                exportEnabled: true,
                axisY: {
                    title: "Risk Probability (%)",
                    titleFontFamily: "Roboto-Light",
                    titleFontSize: 24,
                    titleFontColor: "#677078",
                    labelFontFamily: "Roboto-Light",
                    labelFontSize: 16,
                    labelFontColor: "#677078",
                    lineColor: "#677078",
                    tickColor: "#677078",
                    tickLength: 4,
                    margin: 0,
                    interval: 10,
                    minimum: 0,
                    maximum: 100,
                    gridColor: "#dee2e6"
                },
                axisY2: {
                    title: "Risk Impact",
                    titleFontFamily: "Roboto-Light",
                    titleFontSize: 24,
                    titleFontColor: "#77212E",
                    labelFontFamily: "Roboto-Light",
                    labelFontSize: 16,
                    labelFontColor: "#850101",
                    lineColor: "#77212E",
                    tickColor: "#77212E",
                    tickLength: 4,
                    margin: 0,
                    interval: 1,
                    minimum: 0,
                    maximum: 5
                },
                axisX: {
                    labelFontFamily: "Roboto-Light",
                    labelFontSize: 16,
                    labelFontColor: "#677078",
                    lineColor: "#677078",
                    tickColor: "#ffffff",
                    tickLength: 8,
                    margin: 40
                },
                legend: {
                    fontFamily: "Roboto-Black",
                    fontSize: 16,
                    fontColor: "#677078",
                    verticalAlign: "top",
                    horizontalAlign: "left",
                    markerMargin: 4,
                    cursor: "pointer",
                    itemclick: toggleDataSeries
                },
                toolTip: {
                    enabled: true,
                    shared: true,
                    fontFamily: "Roboto-Light",
                    fontSize: 16,
                    fontColor: "#677078",
                    borderThickness: 2,
                    cornerRadius: 5,
                    contentFormatter: function (e) {
                        return "<div class='chartTooltip'>"
                            + "<div class='title'>Information</div>"
                            + "<div class='risk-name'>Risk: <strong>" + e.entries[0].dataPoint.label + "</strong></div>"
                            + "<div class='risk-type'>Type: <strong>" + e.entries[0].dataPoint.category + "</strong></div>"
                            + "Probability: " + e.entries[0].dataPoint.y + "%<br>"
                            + "Impact:" + e.entries[1].dataPoint.y
                            + "</div>"
                    }
                },
                data: [{
                    type: "column",
                    cursor: "pointer",
                    name: "Risk Probability (%)",
                    showInLegend: true,
                    legendText: "Risk Probability",
                    legendMarkerType: "circle",
                    legendMarkerColor: "#dee2e6",
                    indexLabel: "{y}",
                    indexLabelFontFamily: "Roboto-Light",
                    indexLabelFontSize: 14,
                    indexLabelFontColor: "#677078",
                    indexLabelPlacement: "outside",
                    dataPoints: @Html.Raw(JsonConvert.SerializeObject(dataPointsProbability))
	        },
                {
                    type: "column",
                    cursor: "pointer",
                    name: "Risk Impact",
                    showInLegend: true,
                    legendText: "Risk Impact",
                    legendMarkerType: "circle",
                    legendMarkerColor: "#77212E",
                    axisYType: "secondary",
                    dataPoints: @Html.Raw(JsonConvert.SerializeObject(dataPointsImpact))
                    }
                ]
            });

            chart.render();

            function toggleDataSeries(e) {
	            if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		            e.dataSeries.visible = false;
	            }
	            else {
		            e.dataSeries.visible = true;
	            }
	            chart.render();
            }
        }
    </script>
    <style>
        #indexlabel {
            position: absolute;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            user-select: none;
            max-width: 150px;
        }

        .chartTooltip {
            padding: 4px 8px;
        }

            .chartTooltip .title {
                font-family: "Roboto-Black";
                font-weight: 900;
                padding-bottom: 4px;
                margin-bottom: 8px;
                border-bottom: 1px solid #677078;
            }

                .chartTooltip .title:before {
                    font-family: 'Font Awesome 5 Free';
                    content: '\f05a';
                    margin-right: 8px;
                }
    </style>
    <div id="chartContainer" style="height: 600px; width: 100%; margin-top: 48px; position: relative;"></div>
}
