<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/screen.css" />
    <link rel="stylesheet" href="~/roboto-fontface.css" />
    <link rel="stylesheet" href="~/font-awesome.css" />
</head>
<body>
    <div class="layout-inline-component">
        <div class="wrapper">
            <div class="page-section">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/bundle.js"></script>

    @RenderSection("scripts", required: false)
    <script src="~/canvasjs.min.js"></script>
</body>
</html>
