@{ 
    var navmodel = (ProjectDetailNav)ViewData["ProjectNav"];
    var projectId = navmodel.ProjectId;
    var activeStageNumber = navmodel.Stages.Max(m => m.StageNumber);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/screen.css" />
    <link rel="stylesheet" href="~/roboto-fontface.css" />
    <link rel="stylesheet" href="~/font-awesome.css" />
</head>
<body>
    <div class="layout-inline-component">
        <div class="wrapper">
            <div class="sidenav-checklist-component">
                <div class="wrapper">
                    <div class="title">
                        <h3><i class="fas fa-project-diagram"></i> VBPD Project</h3>
                    </div>
                    <div class="navs">
                        <div class="simple-nav-section">
                            <div class="nav">
                                <a class="item-wrapper" href="/vbpd-projects/@projectId">
                                    <div class="icon-descrip">
                                        <i class="icon fas fa-home"></i>
                                        <div class="descrip">Home</div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="nav-section">
                            <div class="item-wrapper">
                                <div class="descrip">History</div>
                            </div>
                            <div class="nav-section-items">
                                @Html.Partial("_ListNavigationStage", navmodel.Stages)
                            </div>
                        </div>
                        @Html.Partial("_ListActiveNavigationStage", (activeStageNumber, projectId))   
                    </div>
                </div>
            </div>
            <div class="page-section">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/bundle.js"></script>
</body>
</html>
