@model List<SchedulesViewModel>
@{
    ViewData["Title"] = "Detail";
    Layout = "_VbpdProjectDetailLayout";
}
@Html.AntiForgeryToken()
<h1>Index</h1>
<div class="detail-component">
    <div class="wrapper">
        <div class="header">
            <h1>Details</h1>
            <button type="button" class="btn green" href="/vbpd-projects/@ViewBag.ProjectId/stages/@ViewBag.StageId/schedules/edit">Edit</button>
        </div>
        <div class="details">
            @foreach (var schedule in Model)
            {
                <div class="detail">
                    <div class="label">@schedule.ScheduleType.Name:</div>
                    <div class="value">@schedule.Date.ToString("MM/dd/yyyy")</div>
                </div>
            }

        </div>
    </div>
</div>



