@model List<ScheduleForm>
@{
    ViewData["Title"] = "Schedules";
    Layout = "_VbpdProjectDetailLayout";
}

<div class="actions-component">
    <div class="wrapper">
        <div class="header">
            <h1><i class="icon fas fa-info-circle"></i> @ViewData["Title"]</h1>
        </div>
    </div>
</div>

<div class="detail-component">
    <div class="wrapper">
        <div class="header">
            <h1>Schedules </h1>
        </div>
        <div class="details">
            @foreach (var schedule in Model) {
                <div class="detail">
                    <div class="label">@schedule.ScheduleType.Name:</div>
                    <div class="value">@schedule.Date.ToString("MM/dd/yyyy")</div>
                </div>
            }

        </div>
    </div>
</div>



