@model List<FinancialDataViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_VbpdProjectDetailLayout";
}

    

    <div class="list-component">
        <div class="wrapper">
            <div class="title">
                <div>Year</div>
                <div>Quantity</div>
                <div>Std Cost (Estimated)</div>
                <div>Sales Price (Estimated)</div>               
            </div>
            <div class="items">
                <div class="item-wrapper">
                    <div>2000</div>

                    <div class="field">
                        <input type="number" class="data" />
                    </div>
                    <div class="field">
                        <input type="number" class="data" />
                    </div>
                    <div class="field">
                        <input type="number" class="data" />
                    </div>                   
                </div>

            </div>
        </div>
    </div>

    <div class="list-component">
        <div class="wrapper">
            <div class="title">
                <div>Year</div>               
                <div>GPA Capital</div>
                <div>GPA Expense</div>
                <div>Qual Costs</div>
                <div>Other Development Expenses</div>
            </div>
            <div class="items">
                <div class="item-wrapper">
                    <div>2000</div>

                    <div class="field">
                        <input type="number" class="data" />
                    </div>
                    <div class="field">
                        <input type="number" class="data" />
                    </div>
                    <div class="field">
                        <input type="number" class="data" />
                    </div>
                    <div class="field">
                        <input type="number" class="data" />
                    </div>
                  
                </div>

            </div>
        </div>
    </div>