@model ProductIntroChecklistViewModel

@{
    ViewData["Title"] = "Detail";
    Layout = "_VbpdProjectDetailLayout";
}
<div class="detail-component">
    <div class="wrapper">
        <div class="header">
            <h1>Product Intro Checklist</h1>
        </div>
        <div class="details">
            <div class="detail">
                <div class="label">Is Marketing Required</div>
                <div class="value">@Model.IsMarketingRequired</div>
            </div>
            <div class="detail">
                <div class="label">Filename</div>
                <div class="value">@Model.Filename</div>
            </div>
            <div class="detail">
                <div class="label">Approved By</div>
                <div class="value">@Model.ApprovedBy</div>
            </div>
            <div class="detail">
                <div class="label">Approved By Date</div>
                <div class="value">@Model.ApprovedByDate</div>
            </div>
        </div>
    </div>
</div>

