@model dbModels.ProductIntroChecklist

@{
    ViewData["Title"] = "Product Intro Checklist";
    Layout = "_VbpdProjectDetailLayout";
      int projectId = int.Parse(Helpers.GetRouteValue(Context.Request, "projectId"));
    int stageNumber = int.Parse(Helpers.GetRouteValue(Context.Request, "stageNumber"));
}

<div class="actions-component">
    <div class="wrapper">
        <div class="header">
            <h1><i class="icon fas fa-info-circle"></i> @ViewData["Title"]</h1>
        </div>
    </div>
</div>


<div class="layout-horrizontal-component">
    <div class="wrapper">
        <div class="sections">
            <div class="section">
                <div class="detail-component">
                    <div class="wrapper">
                        <div class="details">
                            <div class="detail">
                                <div class="label">Is Marketing Required</div>
                                <div class="value">@(Model.IsRequired?"Yes":"No")</div>
                            </div>
                            <div class="detail">
                                <div class="label">Filename</div>
                                <div class="value">
                                    @if (!String.IsNullOrEmpty(Model.Filename))
                                    {
                                        <a href="/projects/@projectId/stages/@stageNumber/product-intro-checklist/download?id=@Model.Id" target="_blank">
                                            <i class="fas fa-download fa-lg"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <span>No file uploaded</span>
                                    }
                                                            </div>
                            </div>
                            <div class="detail">
                                <div class="label">Approved By</div>
                                <div class="value">@Model.ApprovedByUser.DisplayName</div>
                            </div>
                            <div class="detail">
                                <div class="label">Approved By Date</div>
                                <div class="value">@Model.ApprovedByDate</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
            </div>
        </div>
    </div>
</div>
