@model forms.KeyCharacteristicForm
@{
    ViewData["Title"] = "Create Key Characteristic";
    Layout = "_VbpdProjectDetailLayout";
}

<div class="actions-component">
    <div class="wrapper">
        <div class="header">
            <h1 class="text-black"><i class='icon fas fa-edit'></i> @ViewData["Title"]</h1>
        </div>
    </div>
</div>

@Html.Partial("_KeyCharacteristicForm.cshtml", Model)
